@import "tailwindcss";

:root {
  --background: #ECEEF0;
  --foreground: #202020;
  --surface: #DEE0E2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
